@model IEnumerable<RentalPlatform.Models.Product>

@{
    ViewData["Title"] = "Shopping Cart";
}

<style>
    .border {
        border: 1px solid gray;
        border-radius: 10px;
        padding: 1em;
    }
</style>
<div class="container">
    <h1>Shopping Cart</h1>
    <p>
        <a asp-action="Create">Add New Product</a>
    </p>
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
                <div class="input-group mb-3" id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <div class="input-group mb-3" id='datetimepicker1'>
                            <input type="text" class="form-control" placeholder="Search Product">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Standard Sorting
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Price</a>
                            <a class="dropdown-item" href="#">Newest</a>
                            <a class="dropdown-item" href="#">Oldest</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-3">
                        <div class="box border">
                            <h1>
                                @Html.DisplayFor(modelItem => item.Name)
                            </h1>
                            <p>
                                <b>Price: </b>
                                @item.Price.ToString("C")
                            </p>
                            <p>
                                <b>Quantity: </b>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </p>
                            <p>
                                <b>Availability: </b>
                                @Html.DisplayFor(modelItem => item.QuantityAvailable)
                            </p>
                            <p>
                                <a class="btn btn-dark" id="adds" href="#">+</a>
                                
                                <input type="text" style="text-align: center; margin: 0px;" class="onlyNumber form-control pull-left" id="noOfProduct" value="1" name="noOfProduct" />
                               
                                <a class="btn btn-dark" id="subs" href="#">-</a>
                            </p>
                            <p>
                                <img src="@Html.DisplayFor(modelItem => item.ImageURL)" style="width: 40%;" />
                            </p>
                            <p>
                                <a class="addToCart" asp-action="Edit" data-product-id="@item.Id"><i class="fa fa-cart-plus"></i></a> |
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
@section Scripts
{
    <script>
        $('#adds').click(function add() {
            var $rooms = $("#noOfProduct");
            var a = $rooms.val();
            a++;
            $("#subs").prop("disabled", !a);
            $rooms.val(a);
        });
        $("#subs").prop("disabled", !$("#noOfProduct").val());
        $('#subs').click(function subst() {
            var $rooms = $("#noOfProduct");
            var b = $rooms.val();
            if (b >= 1) {
                b--;
                $rooms.val(b);
            }
            else {
                $("#subs").prop("disabled", true);
            }
        });
        //ajax call to add to cart
        $("a.addToCart").click(function () {
        });
    </script>
}