@model IEnumerable<RentalPlatform.Models.Product>

@{
    ViewData["Title"] = "Shopping Cart";
}

<style>
    .border {
        border: 1px solid gray;
        border-radius: 10px;
        padding: 1em;
    }
</style>
<div class="container">
    <h1 class="mb-3">Products</h1>
    <div class="row align-items-end">
        <div class='col-sm-3'>
            <div class="form-group">
                <label>Delivery/Install Date</label>
                <div class="input-group mb-3">
                    <input type='text' class="form-control" id="datepicker" />
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <div class="input-group mb-3" id='datetimepicker1'>
                            <input type="text" class="form-control" placeholder="Search Product">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Standard Sorting
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Price</a>
                            <a class="dropdown-item" href="#">Newest</a>
                            <a class="dropdown-item" href="#">Oldest</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="box border">
                        <h1>
                            @Html.DisplayFor(modelItem => item.Name)
                        </h1>
                        <div class="row mb-3">
                            <div class="col-4 text-center">
                                @item.Price.ToString("C")
                            </div>
                            <div class="col-4 text-center">
                                Qty: @Html.DisplayFor(modelItem => item.Quantity)
                            </div>
                            <div class="col-4 text-center">
                                Avail: <span class="available">@Html.DisplayFor(modelItem => item.QuantityAvailable)</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <img src="@Html.DisplayFor(modelItem => item.ImageURL)" style="width: 100%;" />
                            </div>
                            <div class="col-6">
                                <p class="mb-2 clearfix">
                                    <input type="text" style="text-align: center;" class="noOfProduct onlyNumber form-control pull-left" value="1" name="noOfProduct" />
                                </p>
                                <p class="mt-2 mb-2">
                                    <a class="btn btn-dark subs" style="width: 48%; display: inline-block;" href="#">-</a>
                                    <a class="btn btn-dark pull-right adds" style="width: 48%; display: inline-block;" href="#">+</a>
                                </p>
                                <p>
                                    <a class="addToCart btn btn-block btn-primary" href="#" data-product-id="@item.Id">Add To Cart <i class="fa fa-cart-plus"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

@section Scripts
{
    <script>
        $('#datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });

        $('#datepicker').datepicker('update', new Date());

        $('.adds').click(function add() {
            var $rooms = $(this).parent().parent().find(".noOfProduct");
            var a = $rooms.val();
            a++;
            //$("#subs").prop("disabled", !a);
            $rooms.val(a);
        });
        //$("#subs").prop("disabled", !$(this).parent().parent().find(".noOfProduct").val());
        $('.subs').click(function subst() {
            var $rooms = $(this).parent().parent().find(".noOfProduct");
            var b = $rooms.val();
            if (b >= 1) {
                b--;
                $rooms.val(b);
            }
            else {
                //$("#subs").prop("disabled", true);
            }
        });
        //ajax call to add to cart
        $("a.addToCart").click(function () {
            var quantity = $(this).parent().parent().find(".noOfProduct").val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("Create", "Cart")",
                data: {
                    productId: $(this).data("product-id"),
                    quantity: quantity,
                    preferredDeliveryDate: $("#datepicker").val()
                },
                success: function (result) {
                    if (result) {
                        toastr.success('Added to cart.');
                    }
                }
            });
        });
    </script>
}